<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zerock.mapper.AccountMapper">
  
  <insert id="insert">
  	insert into tbl_account(uid, upw,uname,  email) 
  	values(#{uid}, #{upw}, #{uname}, #{email})
  </insert>
  
  <insert id="insertRoles">
  	
  	insert into tbl_account_roles(uid, rolename) 
  	values
  	
  	<foreach collection="roleNames" item="role">
  		(#{uid}, #{role})
  	</foreach>
  	
  </insert>
  
</mapper>


















